<main class="container-xl">
  <h1>Geolocation</h1>
  <article>
    <label for="countryList" class="form-label">Select a country:</label>
    <select class="form-select" aria-label="Europe official countries" id="countryList" (change)="onChange($event)">
      <option *ngFor="let country of countries" [value]="country.cca2"
              [selected]="country.cca2 == cca2">
        {{country.name.official}}</option>
    </select>
    <p class="text-muted">
      Once selected, map will be refreshed and centered on the capital.
    </p>
    <div class="ratio ratio-21x9 mb-2">
      <google-map
                  height="500px"
                  width="100%"
                  [zoom]="zoom"
                  [center]="center">
      </google-map>
    </div>
  </article>
</main>
